<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="application/javascript" src="js/jquery.js"></script>
    <script type="application/javascript" src="js/underscore.js"></script>
    <script type="application/javascript" src="js/bootstrap.js"></script>

    <style>
        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }
    </style>
   <!-- <script type="application/javascript" src="css/color.css"></script>-->
</head>
<script>
    $(document).ready(function() {
       // alert("document ready");


        var url = window.location.protocol+"//"+window.location.host



            $.ajax({
                url: url+"/servertime",
                type: "post",
                /*data:{ },
                dataType:"json",*/
                success: function (result) {
                    console.log("Iam waiting");
                    console.log("date time : " +result);

                    $("#center").append("<h2>" +"System Time:" +result +"</h2>");
                    $("h2").css('color' ,'blue');

                },
                error: function(error){

                    console.log('Error: ' + error);
                    alert("ERROR:"+error);
                }
            });




    })
    /*$(function(){

        $.ajax({
            url: "datetimereturn",
            type: "post",
            success: function (result) {
                alert("date time : " + result)
            }
        });

    });*/
</script>

<body>

<div id="center" class="centered">

</div>
</body>
</html>